*.so

TODO.txt

examples/**/thermodata
examples/**/spectral
examples/**/impurityprojections
examples/**/multiplets
examples/A1g
examples/A1g_nonsimple
examples/CobaltInChain
examples/old
examples/SIAM
examples/D_T

**/*.ipynb

doc

examples/clebschgordan/Oh

manual/*
!manual/manual.tex
!manual/manual.bib
!manual/manual.pdf

