# main dir
./* 
!README.md

# test
!test/runtests.jl
!test/multiplets_A1g.jl
!test/nrg_A1g.jl
!test/clebschgordan/

# template
!templates/
!templates/nrg_TEMPLATE.jl 
!templates/multiplets_TEMPLATE.jl

# doc files 
!doc/Tutorial.md
!doc/Manual.md

# package files
!Project.toml
!Manifest.toml

# src files
!src/
!src/*

# precompile scripts
!precompilescripts/
!precompilescripts/clebschgordan
!precompilescripts/clebschgordan/*
!precompilescripts/*.jl
